MICRO_B2_BUCKET_ID=aaaaaaaaaaaaaaaaaaaaaaaa
MICRO_B2_KEY_ID=0000000000000000000000000
MICRO_B2_KEY_VALUE=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
MICRO_B2_BUCKET_NAME=bucketname
MICRO_FILE_ORIGIN=https://fNNN.backblazeb2.com/file/bucketname/m

